# --- Proyecto ETL_API_Football ---

# Carpetas de datos locales (no se suben al repo)
data/
datalake/

# Compilados de Python
__pycache__/
*.pyc

# Archivos temporales de Jupyter
.ipynb_checkpoints

# Configuración local / sensible
pipeline.conf